{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 text-center">
            <h2 class="text-danger mb-4">¿Eliminar Candidato?</h2>
            <p class="text-white">Estás a punto de eliminar al candidato <strong class="text-primary">{{ object.name}}</strong> de la votación {{ object.period.month_name }} {{ object.period.year }}.</p>
            <p class="text-muted mb-4">Esta acción no se puede deshacer y borrará todos los votos asociados a este
                candidato.</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger me-2">Sí, eliminar</button>
                <a href="{% url 'admin_period_update' object.period.pk %}"
                    class="btn btn-outline-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}